* {
  background-color: beige;
}

table {
  width: 50%;
  cursor: pointer;
}

table, th, td {
  border: 1px solid silver;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
  text-align: center;
}

#t01 tr:nth-child(even) {
  background-color: #eee;
}

#t01 tr:nth-child(odd) {
  background-color: #fff;
}

#t01 th, button {
  background-color: black;
  color: white;
  cursor: pointer;
}

td:first-child {
  background: black;
  color: white;
}
